<footer>
<section class="ads-social-area">
    <div class="container">
        <h2 class="ads-social-title">
            Follow Us on Social Media for Daily Updates and Specials
        </h2>

        <div class="ads-social-list">
            <a class="ads-social-icon ads-facebook"
               href="https://www.facebook.com/profile.php?id=61592661106490"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="Follow us on Facebook">
                <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
            </a>


            <a class="ads-social-icon ads-yelp"
               href="https://www.youtube.com/@RekhaDesignsMadanapalle"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="View us on youtube">
                <i class="fa-brands fa-youtube" aria-hidden="true"></i>
            </a>


            <a class="ads-social-icon ads-instagram"
               href="https://www.instagram.com/rekhadesigns4you/"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="Follow us on Instagram">
                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <div class="mt-5">
            <div class="footer-links">
                <a href="/">Home</a><span>|</span>
                <a href="#about">About</a><span>|</span>
                <a href="#services">Services</a><span>|</span>
                <a href="#gallery">Gallery</a><span>|</span>
                
                <a href="#/">Contact Us</a><span>|</span>
                <!-- <a href="/privacy-policy">Privacy Policy</a><span>|</span>
                <a href="/cookie-policy">Cookie Policy</a><span>|</span>
                <a href="/terms-of-use">Terms of use</a><span>|</span> -->
                <!-- <a href="/sitemap">Sitemap</a> -->
            </div>
    </div>
        </div>
</section>

  <!-- ============================================================
       FLOATING BUTTONS
  ============================================================= -->
  <a href="https://wa.me/9550927622" target="_blank" rel="noopener" class="whatsapp-float" aria-label="Chat with us on WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
<a href="tel:+919550927622"
   class="call-float"
   aria-label="Call us">
    <i class="fa-solid fa-phone" aria-hidden="true"></i>
</a>



</footer>
